<section id="widget-favorite" class="widget-favorite">

  <h2>Widget 3</h2>
  <div class="div" *ngFor="let sede of sedes">
    <img [src]="sede.image" style="width: 100px;">
    <!-- <img [src]="sede.image" style="width: 200px;"> -->
    <p> {{ sede.name }} </p>
    <p> {{ sede.country }} </p>
    <p> {{ sede.description }} </p>
    <p> {{ sede.temp | temp }} </p>
    <p> {{ sede.humidity }} %</p>
    <p> {{ sede.windSpeed }} m/s</p>
    <hr>
    <!--<p> {{ sede. }} </p>
    <p> {{ sede. }} </p> -->
  </div>
</section>
